<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banaba</title>
  </head>
  <body>
    <h1 style="color: yell; text-align: center">History of banana</h1>
    <p style="color: #383b43ff;">
      The Banana is one of the oldest cultivated fruits in the world. It is
      believed to have originated in Southeast Asia, especially in regions that
      are now Malaysia, Indonesia, and Papua New Guinea. 6 Short History Bananas
      were first domesticated around 7,000–10,000 years ago. Ancient traders
      spread bananas from Southeast Asia to India and later to the Middle East
      and Africa. Arab traders helped introduce bananas to Africa. Portuguese
      sailors later carried bananas to the Americas during the 15th and 16th
      centuries. Today bananas are grown in many tropical countries including
      Bangladesh, India, Brazil, and Ecuador. Interesting Facts Most modern
      bananas come from the Cavendish variety. Wild bananas originally contained
      many hard seeds. Bananas are technically classified as berries in botany.

      <br>
      <br>
      <abbr title="2026 Sabbir Khan. All Rights Reserved. Built with">Copy Rights</abbr>
    </p>
    <address>Gushan 01, Dhaka-1212</address>
    <article>This is my <b>own</b> sentense</article>
    <bdo dir="rtl">Sabbir Khan</bdo>
    <blockquote cite='https://www.lipsum.com/'>What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</blockquote>

    <p>H<sub>2</sub>O</p>

    <p>a<sup>2</sup>+ 2ab + b<sup>2</sup></p>
    <p>(a+b) <sup>3</sup> = a <sup>3</sup>+3a<sup>2</sup>b+3ab<sup>2</sup>+b <sup>3</sup> </p>

    <p>Apple <del>300</del> <ins>250</ins></p>

    <p>My home town is <u>Gopalgnaj</u></p>

    <p>My brother name is <u>Tabbir</u> </p>

    <p>My tergate is <mark>Softower Engineer</mark></p>

    <p>Hello <span style="color: navyblue;">Softower Engineer</span></p>

    <h1>Contact Form</h1>

    <form>

        <label>Name:</label><br>
        <input type="text" placeholder="Enter your name"><br><br>

        <label>Email:</label><br>
        <input type="email" placeholder="Enter your email"><br><br>

        <label>Password:</label><br>
        <input type="password" placeholder="Enter password"><br><br>

        <label>Message:</label><br>
        <textarea rows="5" cols="30" placeholder="Write something..."></textarea><br><br>

        <button type="submit">Submit</button>

  </body>
</html>
